body{
    background-color: (rgb(132, 171, 150));
    background-image: url('../forest.jpeg');
    background-blend-mode:luminosity;
}
.content{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    color:brown;
}
.title
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    color:black;
}
#home{
    color:midnightblue;
}
#contact{
    color:darkslategray;
}
a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
